<%= form_for(@margin) do |f| %>
  <% if @margin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@margin.errors.count, "error") %> prohibited this margin from being saved:</h2>

      <ul>
      <% @margin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
