<li class="story">
	<%= link_to image_tag(story.user.avatar.url(:thumb)), story.user %>
	<div class="info">
		<%= link_to story.name, story, :class => "name" %>
		<p class="count">(<%= pluralize(story.favourites.size, "favourite") %>)</p><br />
		<%= link_to story.user.name, story.user, :class => "user_name" %>
	</div>
	<% if story.user == current_user %>
		<%= link_to "Delete", story, :method => :delete, :confirm => "Are you sure you want to delete this story? It will be gone forever.", :class => "small red button", :style => "float: right;" %>
		<%= link_to "Edit", edit_story_path(story), :class => "small blue button", :style => "float: right; margin-right: 10px; " %>
	<% end %>
	<div class="clear"></div>
</li>