<% resource = User.new %>
<% resource_name = "user" %>

<%= form_for(resource, :as => resource_name, :url => user_session_path, :html => {id: "sign_in_form"}) do |f| %>
	<div id="sign_in_errors"></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>
<% end %>