<!DOCTYPE html>
<!--<html manifest="/application.manifest">-->
<html>
<head>
  <title>Books66</title>
	<%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="initial-scale=0.85, width=device-width, minimum-scale=0.85, user-scalable=no" />
	
	<link rel="apple-touch-icon" href="<%= image_path("appletouchicon.png") %>" />
	<!--<link rel="apple-touch-startup-image" href="" />-->
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="topbar"></div>
	
	<div id="main">
		
		<div class="header">
			<h1><%= image_tag("logo.png") %></h1>
		</div>
		
		<div id="nav_wrapper">
			<table id="nav" class="<%= "signed_in" if user_signed_in? %>">
				<tr>
					<td><%= link_to ("<i class=\"icon-search\"></i><br /><span class='label'>Search</span>").html_safe, "#search_wrapper", class: "selected", title: "Search" %></td>
					
					<% if user_signed_in? %>
					
						<td><%= link_to ("<i class=\"icon-book\"></i><br /><span class='label'>My Stories</span>").html_safe, "#stories", title: "My Stories" %></td>
						<!--
						<td><%= link_to ("<i class=\"icon-rss\"></i>").html_safe, "#latest", title: "News Feed" %></td>
												<td><%= link_to ("<i class=\"icon-user-md\"></i>").html_safe, "#friends", title: "Friends" %></td>-->
						
						<td><%= link_to ("<i class=\"icon-lock\"></i><br /><span class='label'>Sign Out</span>").html_safe, destroy_user_session_path, method: :delete, title: "Sign Out" %></td>
					
					<% else %>
					
						<td><%= link_to ("<i class=\"icon-lock\"></i><br /><span class='label'>Sign In</span>").html_safe, "#signin", title: "Sign In" %></td>
						
					<% end %>

				</tr>
			</table>
		</div>
		
		<div id="main_frame">
			
			<% if user_signed_in? %>
				
				<div id="latest" class="main_frame">No news for now.</div>
			
				<div id="friends" class="main_frame">
					
					<%= form_tag search_path, method: :get, remote: true, id: "friend_search" do %>
						<%= text_field_tag :friend_search, "", placeholder: "Search...", class: "search_box" %>
						<%= submit_tag "Search", name: nil, style: "display: none; " %>
						<span id="friend_search_count"></span>
					<% end %>
					
					<div id="my_friends">
						No friends for now.
						<!--<%= render current_user.follows %>-->
					</div>
					
				</div>
			
				<div id="stories" class="main_frame">
					<%= form_for Story.new, remote: true do |f| %>
						<%= f.text_field :name, placeholder: "Name a New Story..." %>
						<%= f.submit "Create Story", style: "float: right; margin-top: 5px; " %>
						<div class="clear"></div>
					<% end %>
					
					<div id="stories_list">
						<% if @user %>
							<%= render @user.stories.includes(:user) %>
						<% else %>
							<%= render current_user.stories.includes(:user) %>
						<% end %>
					</div>
				</div>
				
			<% else %>
				
				<div id="signin" class="main_frame">
					<br />
					
					<!--
					<%= link_to "Sign Up", "#", class: "btn show_create_account", style: "font-size: .7em; " %> &nbsp; 
										<%= link_to "Sign In", "#", class: "btn show_sign_in", style: "font-size: .7em; " %><br /><br />
										
										<%= render "devise/registrations/new" %>
										
										<%= render "devise/sessions/new" %>-->
					
					
					<%= link_to image_tag("facebook.png"), omniauth_authorize_path("user", "facebook") %><br /><br />
					<%= link_to image_tag("twitter.png"), omniauth_authorize_path("user", "twitter") %>
					
				</div>
			
			<% end %>
		
			<div id="search_wrapper" class="main_frame">
				
				<%= form_tag search_path, method: :get, remote: true, id: "search" do %>
					<%= text_field_tag :q, cookies[:q], placeholder: "Search...", class: "search_box" %>
					<%= submit_tag "Search", name: nil, style: "display: none; " %>
					<span id="results_count"></span>
				<% end %>
		
				<div id="search_results"></div>
			
			</div>
		
		</div>
		
	</div>
	
	<div id="bible">
		<% if cookies[:ref] %>
			<% @ref = Chapter.find(cookies[:ref].downcase) %>
		<% else %>
			<% @ref = Book.find_by_name("gen").chapters.first %>
		<% end %>
		
		<% if user_signed_in? %>
			<%= link_to "[+]", "#", class: "margin_view" %>
		<% end %>
		
		<div id="reference_selector">
			<div id="books">
				<%= render Book.order(:ordinal) %>
			</div>
			<div id="chapters">
				<% b = 1 %>
				<% @ref.book.chapters_count.times do %>
					<%= link_to b, quick_chapter_path("kjv", @ref.book.permalink, b), class: "chapter_select #{"selected" if @ref.number == b}", remote: true %>
					<% b += 1 %>
				<% end %>
			</div>
		</div>
		
		<%= render @ref %>
	</div>
	
	<% if user_signed_in? %>
		<%= hidden_field_tag :user_signed_in %>
	<% end %>
	
	<div id="story_wrapper">
			<% if cookies[:story] %>
				<%= render(partial: Story.find(cookies[:story]), :locals => { :story => :full }, layout: "stories/full") %>
			<% elsif user_signed_in? %>
				<div class="story">
					<div class="header">
						<h2 class="title">You are signed in as <b><%= current_user.username %></b>.</h2>
					</div>
				</div>
			<% else %>
				<div class="full_story">
					<div class="header">
						<h2 class="title">What is 66Books?</h2>
					</div>
					<div class="content">
						
						<h3><i class="icon-book"></i> &nbsp;Social Bible Study.</h3>
						<p>
							Ever wanted to see the margins in John Wesley's Bible or read Martin Luther's notes? Do you ever wonder what your friends or pastor is reading? With 66Books, you'll know what your friends are reading, studying, and writing.<br /><br />
						</p>
					
						<h3><i class="icon-road"></i> &nbsp;Simple, Fast, &amp; Powerful.</h3>
						<p>
							Prepare your stories quickly using our powerful search. We've also plugged you in to Greek and Hebrew lookup tools. We also save your stories for offline viewing, so you can access the power of 66Books right from your pulpit on your iPad (or other tablet).<br /><br />
						</p>
					
						<h3><i class="icon-twitter"></i> &nbsp;Share Your Story.</h3>
						<p>
							<% last_story = Story.last %>
							Publish your story to your friends, congregation, or social media via a short, unique url (<%= link_to last_story.name, quick_story_path(last_story.user.username, last_story) %>) so they can follow along.<br /><br />
						</p>
					
					</div>
					</div>
				</div>
			<% end %>
			
			<!--
			<div class="content">
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary.</div>
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note.</div>
							<div class="verse">
								<p class="short_ref">Lk 7:11</p>
								<p class="body">There was a man sent from God, whose name was John.</p>
							</div>
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note.</div>
							<div class="verse">
								<p class="short_ref">Lk 7:11</p>
								<p class="body">There was a man sent from God, whose name was John.</p>
							</div>
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note.</div>
							<div class="verse">
								<p class="short_ref">Lk 7:11</p>
								<p class="body">There was a man sent from God, whose name was John.</p>
							</div>
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note.</div>
							<div class="verse">
								<p class="short_ref">Lk 7:11</p>
								<p class="body">There was a man sent from God, whose name was John.</p>
							</div>
							<div class="note">This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note. It is going to be extraordinary. This is the start of an amazing note.</div>
							<div class="note last"></div>
						</div>-->
			
		</div>
	</div>

</body>
</html>
